@model PaginatorProps

<div class="d-flex align-items-start">
    <form asp-action="Index" method="GET">
        <div class="d-flex align-items-center">
            <span>Items</span>               
            <select name="size" asp-for="PageSize" class="form-select mx-3" onchange="this.form.submit()">               
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </form>  
   
    <nav aria-label="table pagination">
        
        <ul class="pagination">      
            <li class="page-item @(Model.AtFirstPage ? "disabled" : "" )">
                <a class="page-link" href="@Model.PreviousPage?.Url">
                    <i class="bi bi-arrow-left-short"></i>
                </a>
            </li>
            @foreach (var p in Model.Pages)
            {
                if (p is not null)
                {    
                    <li class="page-item @(p.PageNo == Model.CurrentPage ? "active" : "")">                    
                        <a class="page-link" href="@p.Url">@p.PageNo</a>
                    </li>
                }
            }
            <li class="page-item @(Model.AtLastPage ? "disabled" : "" )">
                <a class="page-link" href="@Model.NextPage?.Url">
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </li>
        </ul>
    </nav>
    
</div>
